* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #ffe100;
    overflow-y: hidden;
    background-color: #000000;
}

/* @keyframes SlideBottomtoTop {
    from {
        transform: translateY(2000px) perspective(100px)  rotateX(14deg);
    }
    
    to {
        transform: translateY(-6000px) perspective(100px)  rotateX(14deg);
    }
} */

.root__text {
    width: 550px;
    margin: 0 auto;

    font-size: 24px;
    font-weight: 700;

    animation: SlideBottomtoTop 25s ease-in infinite forwards;
}

.title,
.title__name {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle__primary {
    margin-bottom: 40px;
}




